.playlist {
  flex: 1;
  background: rgba(0, 0, 0, 0.8); /* Dark background */
  border: 2px solid var(--neon-purple); /* Sharp Neon Border */
  box-shadow: 0 0 15px var(--neon-purple), inset 0 0 20px rgba(188, 19, 254, 0.2); /* Outer and Inner Glow */
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  /* Cut-corner look (clip-path) */
  clip-path: polygon(
    0 0, 
    100% 0, 
    100% calc(100% - 20px), 
    calc(100% - 20px) 100%, 
    0 100%
  );
}

/* Input looks like a command line */
.playlistInput {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--neon-blue);
  color: var(--neon-blue);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.playlistInput:focus {
  outline: none;
  background: rgba(0, 243, 255, 0.1);
}

.trackListWrapper {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  border-top: 1px dashed #333;
}

.errorBlink {
    background-color: rgba(172, 13, 13, 0.4);
    padding: 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    transition: all 0.1s;
    border-left: 2px solid transparent;
}

.trackItem {
  padding: 15px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: all 0.1s;
  border-left: 2px solid transparent;
}

.trackItem:hover {
  background-color: rgba(188, 19, 254, 0.1);
  border-left: 5px solid var(--neon-purple); /* Indicator bar on hover */
  text-shadow: 0 0 5px var(--neon-purple);
  padding-left: 20px; /* Slide text to the right */
}

/* Cyberpunk Button */
.saveButton {
  background-color: transparent;
  color: var(--neon-blue);
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 40px;
  border: 2px solid var(--neon-blue);
  cursor: pointer;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 10px var(--neon-blue);
  transition: all 0.2s;
}

.saveButton:hover {
  background-color: var(--neon-blue);
  color: #000;
  box-shadow: 0 0 20px var(--neon-blue);
}